@import "tailwindcss";

:root {
  --info: #fff4eb;
  --secondary: #453120;
  --primary: #db9f6a;
  --background:#12100C;
  --foreground:#2A2722;
}

@media (prefers-color-scheme: dark) {
  :root {
    --info: #fff4eb;
    --secondary: #453120;
    --primary: #db9f6a;
    --background:#12100C;
    --foreground:#2A2722;
  }
}

body {
  background-color: var(--background);
  color: var(--info);
  font-family:var(--font-satoshi);
}

@theme {
  --font-angel: var(--font-angel);
  --font-satoshi: var(--font-satoshi);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-info: var(--info);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

}
